@import "catppuccin-macchiato.css";

* {
  font-family: "Hack Nerd Font";
}

window#waybar {
  background-color: @base;
  color: @subtext2;
}

button {
  background-color: @base;
  color: @subtext2;
  border: solid;
}

button:hover {
  background: inherit;
  background-color: transparent;
  color: @overlay0;
}

#workspaces button {
  background-color: transparent;
  color: @subtext2;
}

#workspaces button:hover {
  color: @overlay0;
}

#workspaces button.focused,
#workspaces button.active {
  color: @blue;
  border: solid;
}

#workspaces button.urgent {
  color: @red;
}

/* #workspaces button.hidden {} */

/* -------------------------------------------------------------------------------- */

#window,
#tray,
#cpu,
#memory,
#backlight,
#pulseaudio,
#network,
#bluetooth,
#battery,
#clock {
  background-color: transparent;
  padding: 0 4px;
}

/* -------------------------------------------------------------------------------- */

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* -------------------------------------------------------------------------------- */

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

/* -------------------------------------------------------------------------------- */

#idle_inhibitor.activated {
  color: @text;
}

#idle_inhibitor.deactivated {
  color: @overlay0;
}

/* -------------------------------------------------------------------------------- */

#cpu {
  color: @sapphire;
}

/* -------------------------------------------------------------------------------- */

#memory {
  color: @green;
}

/* -------------------------------------------------------------------------------- */

#backlight {
  color: @sky;
}

/* -------------------------------------------------------------------------------- */

#pulseaudio {
  color: @mauve;
}

#pulseaudio.bluetooth {
  color: @blue;
}

#pulseaudio.muted {
  color: @red;
}

/* -------------------------------------------------------------------------------- */

#network.disabled,
#network.disconnected {
  color: @red;
}

#network.ethernet,
#network.wifi {
  color: @blue;
}

/* -------------------------------------------------------------------------------- */

#bluetooth.disabled,
#bluetooth.off {
  color: @red;
}

#bluetooth.on,
#bluetooth.connected {
  color: @blue;
}

/* #bluetooth.discoverable {} */
/* #bluetooth.discovering {} */
/* #bluetooth.pairable {} */

/* -------------------------------------------------------------------------------- */

#battery.full {
  color: @green;
}

#battery.good {
  color: @peach;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

/* -------------------------------------------------------------------------------- */

#clock {
  color: @text;
}
