- name: custom taps
  community.general.homebrew_tap:
    name:
      - sachaos/tap

- name: install brew packages
  community.general.homebrew:
    name:
      - fzf
      - bat
      - exa
      - fd
      - ripgrep
      - the_silver_searcher
      - jq
      - jo
      - dsq
      - procs
      - ncdu
      - nq
      - zoxide
      - tree
      - stow
      - up
      - viddy
      - shellcheck
      - duf
      - gotop
      - tldr
      - croc
      - pipx
      - bats-core
      - watchexec
      - unzip
      - wget
    update_homebrew: yes

- name: install brew casks
  community.general.homebrew_cask:
    name:
      - ngrok

- name: install tidy-viewer from git (darwin)
  become: yes
  shell:
    chdir: /tmp
    cmd: |
      curl -L https://github.com/alexhallam/tv/releases/download/{{ git_versions.tidy_viewer }}/tidy-viewer--{{ ansible_architecture }}-apple-darwin.tar.gz | tar xvfz - --wildcards "**/tidy-viewer"
      mv **/tidy-viewer /usr/local/bin/
      chmod +x /usr/local/bin/tidy-viewer
    creates: /usr/local/bin/tidy-viewer

- name: install ripgrep-all and deps
  community.general.homebrew:
    name:
      - pandoc
      - poppler
      - tesseract
      - ffmpeg
      - ripgrep-all
    update_homebrew: yes

