- name: install apt packages
  become: yes
  apt:
    name:
      - gdb
      - curl
      - fzf
      - fd-find
      - jq
      - jo
      - ncdu
      - nq
      - sshfs
      - tree
      - stow
      - bat
      - ripgrep
      - silversearcher-ag
      - shellcheck
      - tldr
      - zathura
      - bats
      - unzip
      - wget
    state: latest
    update_cache: yes
    autoclean: yes
    autoremove: yes
    # the last one required by bat/ripgrep
    dpkg_options: "force-confdef,force-confold,force-overwrite"

- name: make sure local bin folder exists
  file:
    path: ~/.local/bin
    state: directory

- name: link fd-find to fd
  file:
    src: /usr/bin/fdfind
    path: ~/.local/bin/fd
    state: link
    force: yes

- name: link bat
  become: yes
  file:
    src: /usr/bin/batcat
    path: /usr/local/bin/bat
    state: link
    force: yes

- name: install non-classic snap packages
  become: yes
  community.general.snap:
    name:
      - procs

- name: install zoxide from github
  become: yes
  shell:
    chdir: /tmp
    cmd: |
      curl -L https://github.com/ajeetdsouza/zoxide/releases/download/v{{ git_versions.zoxide }}/zoxide-v{{ git_versions.zoxide }}-{{ ansible_architecture }}-unknown-linux-musl.tar.gz | tar xvfz -
      mv zoxide /usr/local/bin/zoxide
    creates: /usr/local/bin/zoxide

- name: Install pipx from pip
  pip:
    name: pipx

- block:
    - name: install exa from github
      become: yes
      shell:
        chdir: /tmp
        cmd: |
          # install exa from github releases
          curl -o exa.zip -L https://github.com/ogham/exa/releases/download/v{{ git_versions.exa }}/exa-linux-{{ ansible_architecture }}-v{{ git_versions.exa }}.zip
          unzip exa.zip
          mv **/exa /usr/local/bin/exa
          rm -rf bin man completions
        creates: /usr/local/bin/exa

    - name: install up from github
      become: yes
      shell:
        chdir: /tmp
        cmd: |
          curl -LO https://github.com/akavel/up/releases/latest/download/up
          chmod +x up
          mv up /usr/local/bin/
        creates: /usr/local/bin/up

    - name: install duf from git releases
      become: yes
      shell:
        chdir: /tmp
        cmd: |
          curl -o duf.deb -L https://github.com/muesli/duf/releases/download/v{{ git_versions.duf }}/duf_{{ git_versions.duf }}_linux_amd64.deb
          dpkg -i duf.deb
          rm -rf duf.deb
        creates: /usr/bin/duf

    - name: install viddy from github
      become: yes
      shell:
        chdir: /tmp
        cmd: |
          curl -L https://github.com/sachaos/viddy/releases/download/v{{ git_versions.viddy }}/viddy_{{ git_versions.viddy }}_{{ ansible_system }}_{{ ansible_architecture }}.tar.gz | tar xvfz -
          chmod +x viddy
          mv viddy /usr/local/bin/
        creates: /usr/local/bin/viddy

    - name: install gotop amd64 from github
      become: yes
      shell:
        chdir: /tmp
        cmd: |
          curl -L https://github.com/xxxserxxx/gotop/releases/download/v{{ git_versions.gotop }}/gotop_v{{ git_versions.gotop }}_{{ ansible_system | lower }}_amd64.tgz | tar xvfz -
          mv gotop /usr/local/bin/gotop
        creates: /usr/local/bin/gotop

    - name: install ngrok amd64
      become: yes
      shell:
        chdir: /tmp
        cmd: |
          curl -LO https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
          unzip ngrok-stable-linux-amd64.zip
          mv ./ngrok /usr/local/bin/ngrok
        creates: "/usr/local/bin/ngrok"

    - name: install tidy-viewer from git (ubuntu amd64)
      become: yes
      shell:
        chdir: /tmp
        cmd: |
          curl -o tv.deb -L https://github.com/alexhallam/tv/releases/download/{{ git_versions.tidy_viewer }}/tidy-viewer_{{ git_versions.tidy_viewer }}_amd64.deb
          dpkg -i tv.deb
          rm -rf tv.deb
        creates: /usr/local/bin/tidy-viewer

    - name: install dsq from git (ubuntu amd64)
      become: yes
      shell:
        chdir: /tmp
        cmd: |
          curl -LO "https://github.com/multiprocessio/dsq/releases/download/{{ git_versions.dsq }}/dsq-linux-x64-{{ git_versions.dsq }}.zip"
          unzip dsq-*-{{ git_versions.dsq }}.zip
          sudo mv dsq /usr/local/bin/dsq
        creates: /usr/local/bin/dsq

  when: ansible_architecture == "x86_64"

- name: install croc
  become: yes
  shell:
    chdir: /tmp
    cmd: |
      curl https://getcroc.schollz.com | bash
    creates: /usr/local/bin/croc

- name: install watchexec from git releases
  become: yes
  shell:
    chdir: /tmp
    cmd: |
      curl -o watchexec.deb -L https://github.com/watchexec/watchexec/releases/download/cli-v{{ git_versions.watchexec }}/watchexec-{{ git_versions.watchexec }}-{{ ansible_architecture }}-unknown-linux-gnu.deb
      dpkg -i watchexec.deb
      rm -rf watchexec.deb
    creates: /usr/bin/watchexec

- name: install ripgrep-all deps
  become: yes
  apt:
    name:
      - pandoc
      - poppler-utils
      - ffmpeg
      - tesseract-ocr
    state: latest
    update_cache: yes
    autoclean: yes
    autoremove: yes

- name: install 'ripgrep-all' from cargo
  args:
    executable: /bin/bash
  shell:
    cmd: |
      source ~/.cargo/env && \
      cargo install --locked ripgrep_all

