.direnv
*.log
*.lock
.DS_store
*.zst
*.img
.vagrant
#nix
!flake.lock
result
outputs
*.qcow2
/keys
/darwin-builder
/darwin-docker
/darwin-devnix
#nvim
.netrwhist
packer_compiled.vim
.null-ls*
#terraform
.terraform
