.direnv
*.log
*.lock
.DS_store
*.zst
*.img
#nix
!flake.lock
result
#nvim
.netrwhist
**/packer_compiled.vim
#vscode
.config/Code/*
!.config/Code/User/
globalStorage
workspaceStorage
vscode/User/sync
**/.vagrant
**/.vscode
**/.metals
#terraform
.terraform
