*.log
.DS_store
#nvim
.netrwhist
**/packer_compiled.vim
#vscode
.config/Code/*
!.config/Code/User/
globalStorage
workspaceStorage
vscode/User/sync
**/.vagrant
**/.vscode
**/.metals
#zsh
.zcompdump
.zsh_sessions
.zcompcache
zfunc

#terraform
.terraform
