! FONT SETTINGS
!------------------------------------------------
Xft.dpi: 96
Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/gruvbox-community/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

!! -----------------------------------------------------------------------------
!! onedark
!! -----------------------------------------------------------------------------
!! special
!*.foreground:   #ABB2BF
!*.background:   #282C34
!*.cursorColor:  #ABB2BF
!! black
!*.color0:       #2C323C
!*.color8:       #3E4452
!! red
!*.color1:       #E06C75
!*.color9:       #E06C75
!! green
!*.color2:       #98C379
!*.color10:      #98C379
!! yellow
!*.color3:       #E5C07B
!*.color11:      #E5C07B
!! blue
!*.color4:       #61AFEF
!*.color12:      #61AFEF
!! magenta
!*.color5:       #C678DD
!*.color13:      #C678DD
!! cyan
!*.color6:       #56B6C2
!*.color14:      #56B6C2
!! white
!*.color7:       #5C6370
!*.color15:      #ABB2BF

!! -----------------------------------------------------------------------------
!! catppuccin macchiatto
!! -----------------------------------------------------------------------------
! *background: #24273A
! *foreground: #CAD3F5
! ! black
! *color0: #494D64
! *color8: #5B6078
! ! red
! *color1: #ED8796
! *color9: #ED8796
! ! green
! *color2: #A6DA95
! *color10: #A6DA95
! ! yellow
! *color3: #EED49F
! *color11: #EED49F
! ! blue
! *color4: #8AADF4
! *color12: #8AADF4
! ! magenta
! *color5: #F5BDE6
! *color13: #F5BDE6
! ! cyan
! *color6: #8BD5CA
! *color14: #8BD5CA
! ! white
! *color7: #B8C0E0
! *color15: #A5ADCB
