- import_tasks: ubuntu.yaml
  when: ansible_distribution == "Ubuntu"

- import_tasks: osx.yaml
  when: ansible_distribution == "MacOSX"

- import_tasks: arch.yaml
  when: ansible_distribution == "Archlinux"

- name: make sure ssh folder has proper mode
  file:
    path: ~/.ssh
    state: directory
    mode: 0700

- name: make sure config.d folder exists and has proper mode
  file:
    path: ~/.ssh/config.d
    state: directory
    mode: 0700

- name: link ssh config
  shell:
    chdir: "{{ repo_path }}/files"
    cmd: stow --target="$HOME" --no-folding {{ item }}
  with_items:
    - ssh

- name: Check if private configs submodule is cloned before proceeding
  find:
    paths:
      - "{{ repo_path }}/private"
    recurse: yes
  register: private_found

- name: link private ssh config
  shell:
    chdir: "{{ repo_path }}/private/files"
    cmd: stow --target="$HOME" --no-folding {{ item }}
  with_items:
    - ssh
  when:
    - private_machine
    - private_found.matched > 0
