- import_tasks: ubuntu.yaml
  when: ansible_distribution == "Ubuntu"

- import_tasks: arch.yaml
  when: ansible_distribution == "Archlinux"

- name: link files
  become: yes
  shell:
    chdir: "{{ repo_path }}/private/files"
    cmd: stow --target="$HOME" --no-folding {{ item }}
  with_items:
    - restic-devarch

- name: init restic repo
  args:
    executable: /bin/bash
  shell:
    cmd: |
      source /etc/restic/b2_env.sh && \
      restic init || true

- name: Enable backup and check timers
  become: yes
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: yes
    masked: no
    state: stopped
  with_items:
    - restic-backup.timer
    - restic-check.timer
