[alias]
    graph = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative";
    root = "rev-parse --show-toplevel"
    unstage = "reset HEAD --"
    last = "log --name-status HEAD^..HEAD"
    conflicts = "diff --name-only --diff-filter=U"
    whatadded = "log --diff-filter=A"

    a = add
    ap = add -p
    c = commit --verbose
    ca = commit -a --verbose
    cm = commit -m
    cam = commit -a -m
    m = commit --amend --verbose

    f = fetch

    d = diff
    ds = diff --stat
    dc = diff --cached
    dl = diff HEAD^..HEAD

    p = push
    pl = pull

    s = status -s
    co = checkout
    cob = checkout -b

    # list branches sorted by last modified
    b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

    # list aliases
    la = "--list-cmds=alias"

[color]
    ui = true

[commit]
    gpgsign = true

[core]
	autocrlf = input
    editor = nvim
    fsmonitor = true
    pager = delta

[delta]
    features = side-by-side
    syntax-theme = Dracula
    line-numbers = true
    navigate = true
    hyperlinks = false
    dark = true

[diff]
    tool = vimdiff
    colorMoved = default

[fetch]
    prune = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[help]
    autocorrect = 10

[include]
    path = ~/.gitconfig.Platform

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[merge]
    tool = vimdiff
    conflictstyle = diff3

[mergetool]
    keepBackup = false

[mergetool "vimdiff"]
    path = nvim

[push]
    default = tracking

[pull]
    rebase = merges

[user]
    name = Konrad Malik
    email = konrad.malik@gmail.com
    signingkey = F75F59DD45C0D9016CCC3287DE3F236F1516A431

[worktree]
    guessRemote = true
