/* Cheatsheet:
 * x -> all sides
 * x y -> vertical, horizontal
 * x y z -> top, horizontal, bottom
 * w x y z -> top, right, bottom, left
 */
* {
  padding: 0 8px;
}
.modules-right {
  margin-right: -16px;
}
.modules-left {
  margin-left: -16px;
}
window#waybar {
  border-radius: 5px;
}
#workspaces button,
#idle_inhibitor {
  transition: all 0.2s ease-in-out;
}
#workspaces button {
  color: @base04;
  background-color: @base02;
  min-width: 16px;
  padding: 0 4px;
  margin: 0 2px;
  border-radius: 5px;
}
#workspaces button:hover {
  color: @base06;
  background-color: @base03;
}
#workspaces button.active {
  color: @base00;
  background-color: @base09;
  min-width: 40px;
  padding: 0 12px;
}
#clock {
  background-color: @base0D;
  color: @base00;
  padding: 0 16px;
  margin: 0 16px;
  border-radius: 5px;
  font-weight: bold;
}
#custom-menu {
  background-color: @base0D;
  color: @base00;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}
#custom-powermenu {
  background-color: @base08;
  color: @base00;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 5px;
}
#privacy {
  background-color: @base08;
  color: @base00;
  border-radius: 5px;
}
#idle_inhibitor {
  border-radius: 5px;
}
#idle_inhibitor.activated {
  background-color: @base0A;
  color: @base00;
}
#idle_inhibitor.deactivated {
  color: @base04;
}
#cpu,
#memory {
  color: @base04;
}
#cpu.warning,
#memory.warning {
  color: @base0A;
}
#cpu.critical,
#memory.critical {
  color: @base08;
}
