@define-color urgent @base08;
@define-color warning @base0A;
@define-color muted @base04;
@define-color background @base00;
@define-color text @base05;
@define-color accent @base0D;
@define-color accent-alt @base09;

window#waybar {
  color: @text;
  background-color: @background
}

#custom-menu,
#workspaces,
#custom-currentplayer,
#custom-player,
#clock,
#privacy,
#tray,
#cpu,
#memory,
/* #bluetooth, already wide */
#wireplumber,
#network,
#language,
#power-profiles-daemon,
#battery,
#backlight,
#custom-hyprsunset,
#idle_inhibitor,
#custom-powermenu {
  padding: 0 6px;
}

tooltip {
  background-color: @background;
}
tooltip label {
  color: @text;
}

#custom-menu {
  color: @accent;
}

#clock {
  font-weight: bold;
}

#workspaces button {
  padding: 0
}
#workspaces button.active {
  color: @accent-alt;
}
#workspaces button.empty {
  opacity: 0.5;
}

#privacy {
  color: @background;
  background-color: @urgent;
}

#idle_inhibitor.activated {
  color: @warning;
}
#idle_inhibitor.deactivated {
  color: @muted;
}

#cpu.warning,
#memory.warning,
#battery.warning {
  color: @warning;
}
#cpu.critical,
#memory.critical,
#battery.critical {
  color: @urgent;
}
