on:
  push:
    branches:
      - main
  pull_request:

name: darwin
jobs:
  flake-check:
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
      - name: Flake check
        env:
          # workaround for segfaults
          # https://github.com/NixOS/nix/issues/4246
          GC_DONT_GC: 1
        run: nix flake check

  build-shell:
    runs-on: macos-26
    needs:
      - flake-check
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
      - if: ${{ !github.event.pull_request.head.repo.fork }}
        uses: cachix/cachix-action@v16
        with:
          name: "konradmalik"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Shell build
        run: nix build .#devShells.aarch64-darwin.default

  build-m4:
    runs-on: macos-26
    needs:
      - flake-check
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
      - if: ${{ !github.event.pull_request.head.repo.fork }}
        uses: cachix/cachix-action@v16
        with:
          name: "konradmalik"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Flake build m4
        run: nix build .#darwinConfigurations.m4.system
