on:
  push:
    branches:
      - main
  pull_request:

name: linux
jobs:
  flake-check:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: wimpysworld/nothing-but-nix@v10
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
      - name: Flake check
        run: nix flake check --all-systems

  build-shell:
    runs-on: ubuntu-24.04
    needs:
      - flake-check
    steps:
      - uses: actions/checkout@v6
      - uses: wimpysworld/nothing-but-nix@v10
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
      - if: ${{ !github.event.pull_request.head.repo.fork }}
        uses: cachix/cachix-action@v16
        with:
          name: "konradmalik"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Shell build
        run: nix build .#devShells.x86_64-linux.default

  build-nixos:
    strategy:
      fail-fast: false
      matrix:
        host:
          - { hostname: m3800, os: ubuntu-24.04 }
          - { hostname: framework, os: ubuntu-24.04 }
          - { hostname: rpi4-1, os: ubuntu-24.04-arm }
          - { hostname: rpi4-2, os: ubuntu-24.04-arm }
          - { hostname: x1c6, os: ubuntu-24.04 }
    runs-on: ${{ matrix.host.os }}
    needs:
      - flake-check
    steps:
      - uses: actions/checkout@v6
      - uses: wimpysworld/nothing-but-nix@v10
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
      - if: ${{ !github.event.pull_request.head.repo.fork }}
        uses: cachix/cachix-action@v16
        with:
          name: "konradmalik"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Flake build ${{ matrix.host.hostname }}
        run: nix build .#nixosConfigurations.${{ matrix.host.hostname }}.config.system.build.toplevel

  build-homemanager:
    runs-on: ubuntu-24.04
    needs:
      - flake-check
    steps:
      - uses: actions/checkout@v6
      - uses: wimpysworld/nothing-but-nix@v10
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
      - name: Flake build generic linux
        run: nix build .#homeConfigurations.konrad@generic.activationPackage
